:root {
  --principal: #527561;
  --navbar: #4f4f4f;
}

.destacados h3 {
  font-size: 30px;
  font-family: "League Spartan", sans-serif;
  color: #333333;
}

.cartas {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 50px;
}

.carta {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 20px 0px;
  position: relative;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.carta img {
  width: 300px;
  height: 350px;
}
