:root {
  --principal: #527561;
  --navbar: #4f4f4f;
}

.cartas {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  text-align: center;
  gap: 7px;
  border-radius: 5px;
}

.h3_categorias {
  font-size: 30px;
  font-family: "League Spartan", sans-serif;
  margin-bottom: 20px;
  color: var(--navbar);
}

/* .cartas article {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  position: relative;
} */

.cartas article {
  position: relative;
}

.cartas article img {
  border-radius: 6px;
  width: 300px;
}

.a_carta {
  position: relative;
  text-align: center;
}

.cartas article a {
  font-size: 20px;
  color: var(--principal);
  border: 3px solid var(--principal);
  padding: 10px 25px;
  background-color: #fff;
  border-radius: 50px;
  font-family: "Raleway", sans-serif;
  position: absolute;
  right: 77px;
  bottom: 90px;
}
