:root {
  --principal: #527561;
  --navbar: #4f4f4f;
}

.envios {
  background-color: var(--principal);
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 40px 50px;
  align-items: center;
  font-family: "League Spartan", sans-serif;
  margin-bottom: 60px;
  margin-top: 50px;
}

.envios h3 {
  font-size: 32px;
  font-weight: 400;
  padding-bottom: 10px;
}

.envios span {
  font-size: 22px;
}

.envios i {
  font-size: 28px;
}
