@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@700&family=League+Spartan:wght@400;500&family=Playfair+Display:ital,wght@1,600&family=Raleway:wght@300;400&display=swap");

:root {
  --principal: #527561;
  --navbar: #4f4f4f;
}

.envios {
  background-color: var(--principal);
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 40px 50px;
  align-items: center;
  font-family: "League Spartan", sans-serif;
  margin-bottom: 100px;
}

.envios h3 {
  font-size: 32px;
  font-weight: 400;
  padding-bottom: 10px;
}

.envios span {
  font-size: 22px;
}

.envios i {
  font-size: 28px;
}
